<!DOCTYPE html>

<html lang="en">

<head>
  <title>profile1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>




<body>

<% include partials/nav.ejs %>

<div class="container">

  <h1>Welcome to the profile of <%= person %> </h1>

  <p><strong>Age: <%= data.age %></p> 
  <p><strong>Job: <%= data.job %></p>
  <h2>Hobbies<h2>
  
  <ul>
  <% data.hobbies.forEach(function(item){ %>
  	<li><%= item %></li>

  <% }); %>
  </ul>

</div>

</body>




</html>